/*!
 * Author:        Hessan Adnani (Sorxmedia Inc. https://sorxmedia.com)
 * (c) Copyright by Sorxmedia Inc.
 **/

@import "../css/indigo-pink.css";
@import "../css/bootstrap-reboot.css";
@import "material";

.relative-container {
  position: relative;
  width: 100%;
  height: 100%;
}
