/*!
 * Author:        Hessan Adnani (Sorxmedia Inc. https://sorxmedia.com)
 * (c) Copyright by Sorxmedia Inc.
 **/

// Colors
$color-main-bg: #f4f6f9;
$color-main-text: #333;
$color-border: #f2f2f2;

$color-red: #F44236;
$color-pink: #E91D62;
$color-orange: #FF9700;
$color-deep-orange: #FF5521;
$color-green: #61A706;
$color-light-green: #8BC24A;
$color-lime: #CCDB38;
$color-blue: #2095F2;
$color-light-blue: #02A8F4;
$color-purple: #9C26B0;
$color-deep-purple: #6739B6;
$color-indigo: #3E50B4;
$color-teal: #019587;
$color-yellow: #FFE93B;
$color-amber: #FEC107;
$color-brown: #795549;

$color-white: #ffffff;
$color-white-2: #FEFEFE;
$color-dark: #1f1e41;
$color-grey: #bfbfbf;
$color-medium-grey: #A0A0A0;
$color-light-grey: #ddd;
$color-dark-grey: #999;
$color-black-grey: #777;
$color-blue-grey: #607C8A;
$color-red-grey: #8a6060;
$color-black: #000000;

$color-primary: #0099a9;
$color-secondary: #619f22;

$color-name-array: 'main-bg' 'border' 'white' 'dark' 'black' 'grey' 'light-grey' 'dark-grey' 'blue-grey' 'red-grey' 'red' 'pink' 'orange' 'deep-orange'
'green' 'light-green' 'lime' 'blue' 'light-blue' 'purple' 'deep-purple' 'indigo' 'teal' 'yellow' 'amber' 'brown' 'primary' 'secondary';
$color-value-array: #eef6f2 #f7faf8 #ffffff #333333 #000000 #9D9D9D #E2E2E2 #777777 #607C8A #8a6060 #F44236 #E91D62 #FF9700 #FF5521 #4BAF4F #8BC24A
#CCDB38 #2095F2 #02A8F4 #9C26B0 #6739B6 #3E50B4 #019587 #FFE93B #FEC107 #795549 #0099a9 #619f22;
