/*!
 * Author:        Hessan Adnani (Sorxmedia Inc. https://sorxmedia.com)
 * (c) Copyright by Sorxmedia Inc.
 **/

// Fonts
$font-main: 'Open Sans', sans-serif;

// Font Sizes
$font-size-mass-heading: 38px;
$font-size-xxlg-heading: 30px;
$font-size-xlg-heading: 26px;
$font-size-lg-heading: 24px;
$font-size-md-heading: 22px;
$font-size-sm-heading: 20px;
$font-size-xs-heading: 18px;
$font-size-medium: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;
